opencv-python-headless
pydantic~=2.5.3
fastapi~=0.108.0
torch~=2.1.2
ultralytics==8.0.230
pillow~=10.2.0
uvicorn~=0.25.0
sqlalchemy~=2.0.0
alembic~=1.13.1
psycopg2-binary
greenlet
Mako
starlette~=0.32.0.post1
python-dotenv~=1.0.0
asyncpg
psycopg2

